* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v592_527 {
  width: 100%;
  height: 3648px;
  background: rgba(251,249,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v592_528 {
  width: 100%;
  height: 915px;
  background: url("../images/v592_528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2733px;
  left: 0px;
  overflow: hidden;
}
.v592_529 {
  width: 988px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 0px;
  left: 276px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v592_530 {
  width: 100%;
  height: 733px;
  background: rgba(52,78,65,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 0px;
  overflow: hidden;
}
.v592_698 {
  width: 100%;
  height: 914px;
  background: url("../images/v592_698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1818px;
  left: 0px;
  overflow: hidden;
}
.v592_699 {
  width: 100%;
  height: 733px;
  background: rgba(52,78,65,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 0px;
  overflow: hidden;
}
.v592_700 {
  width: 100%;
  height: 482px;
  background: url("../images/v592_700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 2px;
  overflow: hidden;
}
.v592_701 {
  width: 239px;
  height: 78px;
  background: url("../images/v592_701.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 778px;
  left: 1244px;
  overflow: hidden;
}
.v592_702 {
  width: 238px;
  height: 78px;
  background: rgba(163,177,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v592_703 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v592_704 {
  width: 444px;
  height: 283px;
  background: url("../images/v592_704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 574px;
  overflow: hidden;
}
.v592_705 {
  width: 218px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 158px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_706 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 253px;
  left: 67px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_707 {
  width: 218px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 158px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_708 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 159px;
  left: 67px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_709 {
  width: 444px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_710 {
  width: 337px;
  height: 132px;
  background: url("../images/v592_710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 117px;
  overflow: hidden;
}
.v592_711 {
  width: 337px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_712 {
  width: 218px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 66px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_713 {
  width: 14px;
  height: 14px;
  background: url("../images/v592_713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 256px;
  overflow: hidden;
}
.v592_714 {
  width: 184px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 95px;
  left: 78px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_715 {
  width: 337px;
  height: 132px;
  background: url("../images/v592_715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 477px;
  left: 116px;
  overflow: hidden;
}
.v592_716 {
  width: 337px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_717 {
  width: 218px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 68px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_718 {
  width: 14px;
  height: 14px;
  background: url("../images/v592_718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 258px;
  overflow: hidden;
}
.v592_719 {
  width: 169px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 95px;
  left: 85px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_720 {
  width: 337px;
  height: 131px;
  background: url("../images/v592_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 1124px;
  overflow: hidden;
}
.v592_721 {
  width: 337px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_722 {
  width: 218px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 68px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_723 {
  width: 204px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 94px;
  left: 77px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_724 {
  width: 776px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 0px;
  left: 360px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v592_725 {
  width: 100%;
  height: 915px;
  background: url("../images/v592_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 903px;
  left: 0px;
  overflow: hidden;
}
.v592_726 {
  width: 100%;
  height: 733px;
  background: rgba(52,78,65,1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 0px;
  overflow: hidden;
}
.v592_727 {
  width: 100%;
  height: 482px;
  background: url("../images/v592_727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 2px;
  overflow: hidden;
}
.v592_728 {
  width: 238px;
  height: 78px;
  background: url("../images/v592_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 773px;
  left: 1244px;
  overflow: hidden;
}
.v592_729 {
  width: 238px;
  height: 78px;
  background: rgba(163,177,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v592_730 {
  width: 236px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v592_731 {
  width: 337px;
  height: 132px;
  background: url("../images/v592_731.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 1140px;
  overflow: hidden;
}
.v592_732 {
  width: 337px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_733 {
  width: 218px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 60px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_734 {
  width: 204px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 94px;
  left: 71px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_735 {
  width: 337px;
  height: 133px;
  background: url("../images/v592_735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 678px;
  overflow: hidden;
}
.v592_736 {
  width: 218px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 60px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_737 {
  width: 204px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 96px;
  left: 70px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_738 {
  width: 337px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_739 {
  width: 310px;
  height: 132px;
  background: url("../images/v592_739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 1153px;
  overflow: hidden;
}
.v592_740 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_741 {
  width: 218px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 46px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_742 {
  width: 204px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 95px;
  left: 58px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_743 {
  width: 326px;
  height: 131px;
  background: url("../images/v592_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 681px;
  overflow: hidden;
}
.v592_744 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_745 {
  width: 317px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 9px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_746 {
  width: 304px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 94px;
  left: 16px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_747 {
  width: 444px;
  height: 496px;
  background: url("../images/v592_747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 88px;
  overflow: hidden;
}
.v592_748 {
  width: 106px;
  height: 37px;
  background: url("../images/v592_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 459px;
  left: 41px;
  overflow: hidden;
}
.v592_749 {
  width: 106px;
  height: 37px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_750 {
  width: 101px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 1px;
  left: 2px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v592_751 {
  width: 106px;
  height: 37px;
  background: url("../images/v592_751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 294px;
  overflow: hidden;
}
.v592_752 {
  width: 106px;
  height: 37px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_753 {
  width: 101px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 1px;
  left: 2px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v592_754 {
  width: 106px;
  height: 37px;
  background: url("../images/v592_754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 169px;
  overflow: hidden;
}
.v592_755 {
  width: 106px;
  height: 37px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_756 {
  width: 101px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 1px;
  left: 2px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v592_757 {
  width: 106px;
  height: 37px;
  background: url("../images/v592_757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 44px;
  overflow: hidden;
}
.v592_758 {
  width: 106px;
  height: 37px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_759 {
  width: 101px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 1px;
  left: 2px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v592_760 {
  width: 325px;
  height: 41px;
  background: url("../images/v592_760.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 59px;
  overflow: hidden;
}
.v592_761 {
  width: 324px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v592_762 {
  width: 320px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v592_763 {
  width: 218px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 158px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_764 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 253px;
  left: 67px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_765 {
  width: 218px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 158px;
  border: 2px solid rgba(52,78,65,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v592_766 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 159px;
  left: 67px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v592_767 {
  width: 444px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v592_768 {
  width: 776px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 0px;
  left: 382px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v592_769 {
  width: 100%;
  height: 865px;
  background: url("../images/v592_769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 0px;
  overflow: hidden;
}
.v592_770 {
  width: 344px;
  height: 144px;
  background: url("../images/v592_770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 23px;
  overflow: hidden;
}
.v592_771 {
  width: 344px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v592_772 {
  width: 76px;
  height: 76px;
  background: url("../images/v592_772.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}
.v592_773 {
  width: 100%;
  height: 674px;
  background: url("../images/v592_773.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 0px;
  overflow: hidden;
}
.v592_774 {
  width: 223px;
  height: 72px;
  background: url("../images/v592_774.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1270px;
  overflow: hidden;
}
.v592_775 {
  width: 223px;
  height: 72px;
  background: rgba(88,129,87,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.v592_776 {
  width: 37px;
  height: 37px;
  background: url("../images/v592_776.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v592_777 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 66px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v592_778 {
  width: 127px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 13px;
  left: 1160px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v592_779 {
  width: 100%;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 135px;
  left: 76px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 94px;
  opacity: 1;
  text-align: left;
}
