* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v246_625 {
  width: 100%;
  height: 2298px;
  background: rgba(251,249,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v286_267 {
  width: 100%;
  height: 1395px;
  background: url("../images/v286_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 903px;
  left: 0px;
  overflow: hidden;
}
.v284_219 {
  width: 100%;
  height: 117px;
  background: url("../images/v284_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v284_177 {
  width: 100%;
  height: 117px;
  background: rgba(88,129,87,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v284_214 {
  width: 296px;
  height: 61px;
  background: url("../images/v284_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1146px;
  overflow: hidden;
}
.v284_215 {
  width: 296px;
  height: 61px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v284_216 {
  width: 277px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 8px;
  left: 18px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v284_217 {
  width: 19px;
  height: 19px;
  background: url("../images/v284_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 252px;
  overflow: hidden;
}
.v284_184 {
  width: 296px;
  height: 61px;
  background: url("../images/v284_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 90px;
  overflow: hidden;
}
.v284_182 {
  width: 296px;
  height: 61px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v284_180 {
  width: 277px;
  color: rgba(133,140,133,1);
  position: absolute;
  top: 8px;
  left: 18px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v284_201 {
  width: 19px;
  height: 19px;
  background: url("../images/v284_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 252px;
  overflow: hidden;
}
.v284_220 {
  width: 100%;
  height: 100%;
  background: rgba(52,78,65,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  overflow: hidden;
}
.v286_242 {
  width: 100%;
  height: 308px;
  background: url("../images/v286_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 833px;
  left: 39px;
  overflow: hidden;
}
.v286_243 {
  width: 299px;
  height: 74px;
  background: rgba(163,177,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v286_244 {
  width: 100%;
  height: 251px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v286_245 {
  width: 277px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 21px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v286_247 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 107px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v286_236 {
  width: 645px;
  height: 541px;
  background: url("../images/v286_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 854px;
  overflow: hidden;
}
.v286_230 {
  width: 290px;
  height: 74px;
  background: rgba(163,177,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v284_222 {
  width: 645px;
  height: 484px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v286_234 {
  width: 277px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 21px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v286_237 {
  width: 775px;
  height: 541px;
  background: url("../images/v286_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 39px;
  overflow: hidden;
}
.v286_229 {
  width: 290px;
  height: 74px;
  background: rgba(163,177,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v284_221 {
  width: 775px;
  height: 484px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v286_232 {
  width: 277px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 21px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v286_259 {
  width: 318px;
  height: 74px;
  background: url("../images/v286_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1230px;
  left: 1181px;
  overflow: hidden;
}
.v286_255 {
  width: 318px;
  height: 74px;
  background: rgba(163,177,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v286_257 {
  width: 318px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v286_260 {
  width: 318px;
  height: 74px;
  background: url("../images/v286_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1230px;
  left: 39px;
  overflow: hidden;
}
.v286_261 {
  width: 318px;
  height: 74px;
  background: rgba(163,177,138,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v286_262 {
  width: 318px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Instrument Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v284_167 {
  width: 100%;
  height: 865px;
  background: url("../images/v284_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  overflow: hidden;
}
.v246_626 {
  width: 344px;
  height: 144px;
  background: url("../images/v246_626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 23px;
  overflow: hidden;
}
.v246_627 {
  width: 344px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v246_628 {
  width: 76px;
  height: 76px;
  background: url("../images/v246_628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
  overflow: hidden;
}
.v246_629 {
  width: 100%;
  height: 674px;
  background: url("../images/v246_629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 0px;
  overflow: hidden;
}
.v246_631 {
  width: 223px;
  height: 72px;
  background: url("../images/v246_631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1269px;
  overflow: hidden;
}
.v246_632 {
  width: 223px;
  height: 72px;
  background: rgba(88,129,87,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.v246_633 {
  width: 37px;
  height: 37px;
  background: url("../images/v246_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v246_634 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 66px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v246_725 {
  width: 127px;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 13px;
  left: 1159px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v246_741 {
  width: 100%;
  color: rgba(52,78,65,1);
  position: absolute;
  top: 144px;
  left: 45px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 94px;
  opacity: 1;
  text-align: left;
}
