* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v209_144 {
    width: 100%;
    height: 3648px;
    background: rgba(251,249,244,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v230_11 {
    width: 100%;
    height: 916px;
    background: url("../images/v230_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2732px;
    left: 0px;
    overflow: hidden;
  }
  .v219_418 {
    width: 100%;
    height: 733px;
    background: rgba(52,78,65,1);
    opacity: 1;
    position: absolute;
    top: 183px;
    left: 0px;
    overflow: hidden;
  }
  .v226_354 {
    width: 254px;
    height: 50px;
    background: rgba(218,215,205,1);
    opacity: 1;
    position: absolute;
    top: 227px;
    left: 65px;
    border: 2px solid rgba(52,78,65,1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
  }
  .v226_355 {
    width: 206px;
    color: rgba(133,140,133,1);
    position: absolute;
    top: 236px;
    left: 93px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v281_23 {
    width: 14px;
    height: 14px;
    background: url("../images/v281_23.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 285px;
    overflow: hidden;
  }
  .v219_416 {
    width: 952px;
    color: rgba(52,78,65,1);
    position: absolute;
    top: 0px;
    left: 294px;
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v403_12 {
    width: 100%;
    height: 541px;
    background: url("../images/v403_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 325px;
    left: 63px;
    overflow: hidden;
  }
  .v403_13 {
    width: 290px;
    height: 74px;
    background: rgba(163,177,138,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v403_14 {
    width: 100%;
    height: 484px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 57px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v403_15 {
    width: 277px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8px;
    left: 21px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v403_18 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 174px;
    left: 56px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v230_12 {
    width: 100%;
    height: 915px;
    background: url("../images/v230_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1816px;
    left: 0px;
    overflow: hidden;
  }
  .v222_47 {
    width: 100%;
    height: 733px;
    background: rgba(52,78,65,1);
    opacity: 1;
    position: absolute;
    top: 182px;
    left: 0px;
    overflow: hidden;
  }
  .v219_398 {
    width: 956px;
    height: 395px;
    background: url("../images/v219_398.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 499px;
    left: 272px;
    overflow: hidden;
  }
  .v219_411 {
    width: 298px;
    height: 282px;
    background: url("../images/v219_411.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 601px;
    overflow: hidden;
  }
  .v219_400 {
    width: 223px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 37px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v219_410 {
    width: 152px;
    height: 110px;
    background: url("../images/v219_410.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 79px;
    overflow: hidden;
  }
  .v219_404 {
    width: 152px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: left;
  }
  .v219_405 {
    width: 192px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 166px;
    left: 53px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v219_407 {
    width: 49px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 56px;
    left: 182px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v219_409 {
    width: 298px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 220px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
  }
  .v214_391 {
    width: 776px;
    color: rgba(52,78,65,1);
    position: absolute;
    top: 0px;
    left: 382px;
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v230_13 {
    width: 100%;
    height: 915px;
    background: url("../images/v230_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 902px;
    left: 0px;
    overflow: hidden;
  }
  .v209_183 {
    width: 100%;
    height: 733px;
    background: rgba(52,78,65,1);
    opacity: 1;
    position: absolute;
    top: 182px;
    left: 0px;
    overflow: hidden;
  }
  .v209_181 {
    width: 800px;
    height: 533px;
    background: url("../images/v209_181.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 282px;
    left: 62px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v232_12 {
    width: 30px;
    height: 30px;
    background: url("../images/v232_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 540px;
    left: 778px;
    overflow: hidden;
  }
  .v214_212 {
    width: 30px;
    height: 30px;
    background: url("../images/v214_212.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 718px;
    left: 593px;
    overflow: hidden;
  }
  .v214_219 {
    width: 30px;
    height: 30px;
    background: url("../images/v214_219.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 747px;
    left: 78px;
    overflow: hidden;
  }
  .v214_207 {
    width: 30px;
    height: 30px;
    background: url("../images/v214_207.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 359px;
    left: 722px;
    overflow: hidden;
  }
  .v214_202 {
    width: 30px;
    height: 30px;
    background: url("../images/v214_202.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 462px;
    left: 391px;
    overflow: hidden;
  }
  .v209_191 {
    width: 30px;
    height: 30px;
    background: url("../images/v209_191.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 371px;
    left: 223px;
    overflow: hidden;
  }
  .v214_390 {
    width: 550px;
    height: 533px;
    background: url("../images/v214_390.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 282px;
    left: 908px;
    overflow: hidden;
  }
  .v214_223 {
    width: 550px;
    height: 533px;
    background: rgba(88,129,87,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v214_224 {
    width: 520px;
    height: 503px;
    background: rgba(163,177,138,0.550000011920929);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 15px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v214_369 {
    width: 309px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 237px;
    left: 75px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v214_370 {
    width: 309px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 328px;
    left: 75px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v214_371 {
    width: 307px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 421px;
    left: 75px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v214_372 {
    width: 309px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 144px;
    left: 75px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v214_373 {
    width: 62px;
    height: 36px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 145px;
    left: 353px;
    border: 2px solid rgba(52,78,65,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v214_374 {
    width: 62px;
    height: 36px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 353px;
    border: 2px solid rgba(52,78,65,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v214_375 {
    width: 62px;
    height: 36px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 330px;
    left: 353px;
    border: 2px solid rgba(52,78,65,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v214_376 {
    width: 124px;
    height: 36px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 421px;
    left: 351px;
    border: 2px solid rgba(52,78,65,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v214_382 {
    width: 33px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 248px;
    left: 415px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v214_386 {
    width: 33px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 155px;
    left: 415px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v262_60 {
    width: 254px;
    height: 50px;
    background: rgba(218,215,205,1);
    opacity: 1;
    position: absolute;
    top: 53px;
    left: 159px;
    border: 2px solid rgba(52,78,65,1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
  }
  .v262_61 {
    width: 206px;
    color: rgba(133,140,133,1);
    position: absolute;
    top: 62px;
    left: 187px;
    font-family: Instrument Sans;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v281_21 {
    width: 14px;
    height: 14px;
    background: url("../images/v281_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 73px;
    left: 371px;
    overflow: hidden;
  }
  .v209_154 {
    width: 776px;
    color: rgba(52,78,65,1);
    position: absolute;
    top: 0px;
    left: 348px;
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v262_59 {
    width: 100%;
    height: 865px;
    background: url("../images/v262_59.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 0px;
    overflow: hidden;
  }
  .v209_148 {
    width: 100%;
    height: 674px;
    background: url("../images/v209_148.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 191px;
    left: 0px;
    overflow: hidden;
  }
  .v209_166 {
    width: 725px;
    color: rgba(52,78,65,1);
    position: absolute;
    top: 144px;
    left: 93px;
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 94px;
    opacity: 1;
    text-align: left;
  }
  .v209_150 {
    width: 223px;
    height: 72px;
    background: url("../images/v209_150.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1270px;
    overflow: hidden;
  }
  .v209_151 {
    width: 223px;
    height: 72px;
    background: rgba(88,129,87,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    overflow: hidden;
  }
  .v209_152 {
    width: 37px;
    height: 37px;
    background: url("../images/v209_152.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 17px;
    overflow: hidden;
  }
  .v209_153 {
    width: 127px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 13px;
    left: 66px;
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v209_145 {
    width: 344px;
    height: 144px;
    background: url("../images/v209_145.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 23px;
    overflow: hidden;
  }
  .v209_146 {
    width: 344px;
    color: rgba(52,78,65,1);
    position: absolute;
    top: 38px;
    left: 0px;
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v209_147 {
    width: 76px;
    height: 76px;
    background: url("../images/v209_147.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 134px;
    overflow: hidden;
  }
  .v226_504 {
    width: 96px;
    color: rgba(52,78,65,1);
    position: absolute;
    top: 13px;
    left: 1173px;
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .weather-widget h1 {
    font-size: 48px;
    margin: 10px 0;
  }
  




  
  .weather-widget h2 {
    font-size: 32px;
    margin: 0;
  }
  
  .location-banner {
    background-color: #a3b18a;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .extra-info p {
    margin: 5px 0;
    font-size: 16px;
  }
  



  body {
  font-family: 'Inter', sans-serif;
}






.clima-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .clima-actual {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
    .clima-actual img {
      width: 64px;
      height: 64px;
    }
    .clima-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .grafico-pronostico {
      margin-top: 1rem;
    }
    .dias-pronostico {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      flex-wrap: wrap;
    }
    .dia {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.9rem;
    }
    .dia img {
      width: 40px;
      height: 40px;
    }